.cassi-container {
    display: grid;
    grid-template-columns: 20ch auto;
    gap: 1rem;
    margin-bottom: 2rem;
}

.cassi-container .example-container,
.cassi-container pre:has(code) {
    border: 1px solid var(--cassi-border-color);
    padding: 1rem;
    max-width: 90%;
    margin: auto;
    margin-block: 0.5rem;
}

.cassi-container .example-container{
    display: grid;
    gap: 1rem;
}
/* Light Theme Variables */
:root {
    --cassi-border-color: var(--tertiary-color);
}
